body {
  margin: 0;
  /* This makes it so that the container can be pushed
     right up to the edge of the screen */
  font-size: 16px;
  /* Rem means relative to the root  font size aka html body.
   By changing this we change the styling  */
}

.container {
  background-color: #333;
  padding: 1rem;
  margin-top: 1rem;
}

.draggable {
  background-color: #fff;
  padding: 1rem;
  border: 1px solid black;
  cursor: move;
}
